section.about-section
  .wrapper
    .about-section__container
      h2.about-section__title.font-w-bold.font-s-45.text-center
        | О нас
      .about-section__block
        .about-section__block-text
          .about-section__block-text-1.font-w-semi-bold.font-s-22
            .about-section__round
            | Юридическая компания ЮЭНКОМ существует с 
            br.no-br
            | 2010 года. На данный момент у нас одна точка в 
            br.no-br
            | Краснодаре и одна в Ярославле
          .about-section__block-text-2.font-s-18
            .about-section__round
            | Мы помогаем физ лицам в решении проблем с долгами, семейными и 
            br.no-br
            | трудовыми спорами, с оформлением недвижимости и в других случаях
          .about-section__block-text-3.font-w-bold.font-s-18
            .about-section__round
            | Наша команда накопила достаточно опыта и готова к расширению, 
            br.no-br
            | поэтому мы с радостью приглашаем вас к сотрудничеству
        img.about-section__img(src="images/about-section-img.jpg" loading="lazy" width="956" height="822" alt="image")
