section.finances-section
  .finances-section__shadow
  .wrapper
    .finances-section__container
      .finances-section__bg-1
      .finances-section__bg-2
      img.finances-section__img(src="images/finances-section-img.png" loading="lazy" width="1402" height="1050" alt="image")
      h2.finances-section__title.font-w-bold.font-s-45
        | Франшиза 
        span.color-sea ЮЭНКОМ 
        | в цифрах
      .swiper-bullet
        .finances-section__cards.swiper-wrapper
          .finances-section__card.swiper-slide
            img.finances-section__card-icon(src="images/finances-section-card-icon.png" loading="lazy" width="90" height="91" alt="icon")
            .finances-section__card-text
              .font-w-semi-bold.font-s-26.color-black.text-up от 338 000 руб
              .finances-section__card-text-item.font-s-20
                | средняя чистая 
                br.no-br
                | ежемесячная прибыль
          .finances-section__card.swiper-slide
            img.finances-section__card-icon(src="images/finances-section-card-icon.png" loading="lazy" width="90" height="91" alt="icon")
            .finances-section__card-text
              .font-w-semi-bold.font-s-26.color-black.text-up от 1,04 млн руб
              .finances-section__card-text-item.font-s-20
                | первоначальные 
                br.no-br
                | инвестиции
          .finances-section__card.swiper-slide
            img.finances-section__card-icon(src="images/finances-section-card-icon.png" loading="lazy" width="90" height="91" alt="icon")
            .finances-section__card-text
              .font-w-semi-bold.font-s-26.color-black.text-up от 4,06 млн руб
              .finances-section__card-text-item.font-s-20
                | средняя чистая 
                br.no-br
                | годовая прибыль
          .finances-section__card.swiper-slide
            img.finances-section__card-icon(src="images/finances-section-card-icon.png" loading="lazy" width="90" height="91" alt="icon")
            .finances-section__card-text
              .font-w-semi-bold.font-s-26.color-black.text-up 1 месяц
              .finances-section__card-text-item.font-s-20
                | чтобы начать 
                br.no-br
                | зарабатывать
          .finances-section__card.swiper-slide
            img.finances-section__card-icon(src="images/finances-section-card-icon.png" loading="lazy" width="90" height="91" alt="icon")
            .finances-section__card-text
              .font-w-semi-bold.font-s-26.color-black.text-up от 27,6%
              .finances-section__card-text-item.font-s-20
                | рентабельность 
                br.no-br
                | по чистой прибыли
          .finances-section__card.swiper-slide
            img.finances-section__card-icon(src="images/finances-section-card-icon.png" loading="lazy" width="90" height="91" alt="icon")
            .finances-section__card-text
              .font-w-semi-bold.font-s-26.color-black.text-up 7 месяцев
              .finances-section__card-text-item.font-s-20
                | срок окупаемости 
                br.no-br
                | вашего бизнеса
        .bullet-pagination
      img.finances-section__icon(src="images/finances-section-icon.png" loading="lazy" width="85" height="64" alt="icon")
      .finances-section__bottom
        img.finances-section__bottom-img(src="images/finances-section-bottom-img.jpg" loading="lazy" width="800" height="668" alt="image")
        .finances-section__bottom-title.font-w-semi-bold.font-s-30.text-up
          | Ознакомьтесь детально 
          br.no-br
          | с финансовыми расчетами 
          br.no-br
          | вашего будущего бизнеса
        .finances-section__bottom-sub-title
          button.btn.finances-section__btn(data-remodal-target="modal-form-investments") Скачать
          .font-s-20
            | Скачайте финансовую 
            br.no-br
            | модель 
            span.font-w-bold ЮЭНКОМ
