header.header-thanks
  .header-thanks__container
    .header-thanks__brand-block
      img.header-thanks__logo(src="images/logo-header.png" loading="lazy" width="282" height="47" alt="logo")
      .header-thanks__line
      .header-thanks__brand.font-s-14 Франшиза сети <br> юридических компаний
    .header-thanks__connection
      include ../components/phone-number.pug
      a(href="tel:+78000000000")
        img.header-thanks__connection-icon(src="images/connection-icon.svg" loading="lazy" width="24" height="24" alt="icon")
    //- .header-thanks__call-me.btn.btn--call-me(data-remodal-target="modal-form-call-me") Обратный звонок
