section.reasons-section
  .wrapper
    .reasons-section__container
      img.reasons-section__bottom-img-bubbles(src="images/reasons-section-bottom-img-bubbles.png" loading="lazy" width="196" height="164" alt="image")
      img.reasons-section__bottom-img-reasons(src="images/reasons-section-bottom-img-reasons.png" loading="lazy" width="1578" height="193" alt="image")
      img.reasons-section__bottom-img-four(src="images/reasons-section-bottom-img-four.png" loading="lazy" width="208" height="226" alt="image")
      h2.reasons-section__title.font-w-bold.font-s-45
        span.color-sea причины 
        | открыть 
        br
        | юридическую компанию
      .swiper-bullet
        .reasons-section__cards.swiper-wrapper
          .reasons-section__card.reasons-section__card--secondary.swiper-slide
            .reasons-section__card-num.reasons-section__card-num--secondary.font-w-bold.font-s-20 01
            .reasons-section__card-title.reasons-section__card-title--secondary.font-w-semi-bold.font-s-24.text-up Спрос
            .font-s-16.color-white
              | Физические лица всегда будут разрешать 
              br.no-br
              | свои семейные и трудовые споры, будут 
              br.no-br
              | заключать договоры и оформлять 
              br.no-br
              | недвижимость, поэтому клиенты и прибыль 
              br.no-br
              | вам обеспечены
          .reasons-section__card.swiper-slide
            img.reasons-section__card-img(src="images/reasons-section-card-img-2.png" loading="lazy" width="504" height="576" alt="image")
            .reasons-section__card-num.font-w-bold.font-s-20 02
            .reasons-section__card-title.font-w-semi-bold.font-s-24.text-up стабильность
            .font-s-16
              | Рынку юридических услуг ничего не угрожает 
              br.no-br
              | и не будет угрожать. Несмотря на развитие 
              br.no-br
              | нейросетей и прочих технологий, наш бизнес 
              br.no-br
              | остается востребованным и приносит 
              br.no-br
              | солидный доход
          .reasons-section__card.swiper-slide
            img.reasons-section__card-img(src="images/reasons-section-card-img-3.png" loading="lazy" width="504" height="576" alt="image")
            .reasons-section__card-num.font-w-bold.font-s-20 03
            .reasons-section__card-title.font-w-semi-bold.font-s-24.text-up рентабельность
            .font-s-16
              | Вам не придется вкладывать большие деньги 
              br.no-br
              | в бизнес. Достаточно будет 1 млн рублей, 
              br.no-br
              | зато прибыль вы будете получать стабильно и 
              br.no-br
              | недвижимость, поэтому клиенты и прибыль 
              br.no-br
              | в долгосрочном периоде
          .reasons-section__card.swiper-slide
            img.reasons-section__card-img(src="images/reasons-section-card-img-4.png" loading="lazy" width="504" height="576" alt="image")
            .reasons-section__card-num.font-w-bold.font-s-20 04
            .reasons-section__card-title.font-w-semi-bold.font-s-24.text-up самореализация
            .font-s-16
              | Сотрудничая с нами, вы становитесь хозяином 
              br.no-br
              | собственного бизнеса, что кардинально 
              br.no-br
              | меняет ваш статус. Главное, что вы начнете 
              br.no-br
              | получать хорошее вознаграждение за 
              br.no-br
              | нужную работу
        .bullet-pagination
      .reasons-section__bottom
        img.reasons-section__bottom-img(src="images/reasons-section-bottom-img.png" loading="lazy" width="524" height="422" alt="image")
        .reasons-section__bottom-title.font-w-semi-bold.font-s-30.text-up
          | Узнайте о других преимуществах 
          br.no-br
          | бизнеса по франшизе “ЮЭНКОМ”
        .font-s-20 Скачайте подробную презентацию
        form.reasons-section__form(data-feedback-form)
          input(type="text" name="honeyfield" class="honeypot" style="display:none")
          input.input(type="text" name="name" autocomplete="off" placeholder="Имя")
          input.input(type="tel" name="phone" autocomplete="off" data-inputmask="'mask': '+7 (999) 999 9999'" placeholder="Номер для связи")
          button.btn(type="submit") Скачать
