section.start-section
  .wrapper
    .start-section__container
      h2.start-section__title.font-w-bold.font-s-45
        | Откройте собственный бизнес за 1 месяц
      .start-section__sub-title.font-s-20
        | Команда ЮЭНКОМ поддержит вас на всех этапах:
      .swiper-bullet
        .start-section__cards.swiper-wrapper
          .start-section__card.swiper-slide
            .start-section__card-title.font-s-45 01.
            .font-w-semi-bold.font-s-25.text-up обеспечим
            .start-section__card-line
            .start-section__card-text.font-s-18
              | пошаговое становление 
              br.no-br
              | бизнеса в течении 3 
              br.no-br
              | месяцев
          .start-section__card.swiper-slide
            .start-section__card-title.font-s-45 02.
            .font-w-semi-bold.font-s-25.text-up Предоставим
            .start-section__card-line
            .start-section__card-text.font-s-18
              | 2х месячное 
              br.no-br
              | заочное обучение
          .start-section__card.swiper-slide
            .start-section__card-title.font-s-45 03.
            .font-w-semi-bold.font-s-25.text-up Направим
            .start-section__card-line
            .start-section__card-text.font-s-18
              | команду специалистов 
              br.no-br
              | для запуска бизнеса (за 
              br.no-br
              | доп плату)
          .start-section__card.swiper-slide
            .start-section__card-title.font-s-45 04.
            .font-w-semi-bold.font-s-25.text-up Наладим
            .start-section__card-line
            .start-section__card-text.font-s-18
              | работу с отделом 
              br.no-br
              | сопровождения
          .start-section__card.swiper-slide
            .start-section__card-title.font-s-45 05.
            .font-w-semi-bold.font-s-25.text-up Проведем
            .start-section__card-line
            .start-section__card-text.font-s-18
              | лидогенерацию
          .start-section__card.swiper-slide
            .start-section__card-title.font-s-45 06.
            .font-w-semi-bold.font-s-25.text-up Обучим
            .start-section__card-line
            .start-section__card-text.font-s-18
              | специфике продаж 
          .start-section__card.swiper-slide
            .start-section__card-title.font-s-45 07.
            .font-w-semi-bold.font-s-25.text-up Дадим
            .start-section__card-line
            .start-section__card-text.font-s-18
              | любые консультации, 
              br
              | касающиеся ведения 
              br.no-br
              | бизнеса
        .bullet-pagination
      .start-section__bottom
        img.start-section__bottom-icon(src="images/start-section-bottom-icon.svg" loading="lazy" width="45" height="45" alt="icon")
        img.start-section__bottom-logo(src="images/start-section-bottom-logo.png" loading="lazy" width="340" height="58" alt="logo")
        .start-section__bottom-title.font-s-25.text-up
          | Получите подробный план 
          br
          | по открытию ЮЭНКОМ
        form.start-section__form(data-feedback-form)
          input(type="text" name="honeyfield" class="honeypot" style="display:none")
          input.input.input--secondary(type="text" name="name" autocomplete="off" placeholder="Имя")
          input.input.input--secondary(type="tel" name="phone" autocomplete="off" data-inputmask="'mask': '+7 (999) 999 9999'" placeholder="Номер для связи")
          button.btn(type="submit") Скачать
      img.start-section__img(src="images/start-section-img.png" loading="lazy" width="939" height="787" alt="image")
