.about-section
  // background-image: url('../images/about-section-bg.jpg')
  // background-repeat: no-repeat
  // background-position: center
  // background-size: cover
  background-color #EFEFEF

  &__container
    position relative
    padding 10px 0 0 0
    color: #141414
    +above($breakpoints.sm)
      padding 20px 0 0 0
    +above($breakpoints.md)
      padding 25px 0 0 0
    +above($breakpoints.xxl)
      padding 30px 0 0 0

  &__title
    display: flex
    justify-content center
    align-items: center
    background-color #EDFAFF
    color: #0C8FC6
    border-radius: 10px
    margin 0 auto
    width 80px
    height: 30px
    +above($breakpoints.sm)
      border-radius: 15px
      width 210px
      height: 64px
    +above($breakpoints.md)
      width 210px
      height: 64px
    +above($breakpoints.xxl)
      width 210px
      height: 64px

  &__block
    display: flex
    flex-direction: column
    align-items: center
    gap: 10px
    margin-top 20px
    +above($breakpoints.sm)
      flex-direction: row
      justify-content space-between
      margin-top 30px
    +above($breakpoints.md)
      margin-top 35px
    +above($breakpoints.xxl)
      margin-top 40px
      gap: 22px

  &__block-text
    display: flex
    flex-direction: column
    gap: 10px
    text-align: center
    +above($breakpoints.sm)
      text-align: start
      width 430px
    +above($breakpoints.md)
      width 575px
      gap: 15px
    +above($breakpoints.xxl)
      width 680px
      gap: 20px

  &__block-text-1,
  &__block-text-2,
  &__block-text-3
    position relative
    width 100%
    border-radius: 10px
    background-color #CAEFFF
    padding 20px 10px 15px 10px
    +above($breakpoints.sm)
      border-radius: 15px
      padding: 20px 0px 20px 15px;
    +above($breakpoints.md)
      border-radius: 20px
      padding 25px 10px 25px 40px
    +above($breakpoints.xxl)
      border-radius: 25px
      padding 29px 10px 28px 50px

  &__block-text-1
    +above($breakpoints.xxl)
      height: 153px

  &__block-text-2,
  &__block-text-3
    background-color #fff
    +above($breakpoints.xxl)
      height: 109px

  &__round
    position: absolute
    top: 5px
    left: 5px
    width 10px
    height: 10px
    border-radius: 50%
    background-color #EFEFEF
    +above($breakpoints.sm)
      width 12px
      height: 12px
    +above($breakpoints.md)
      top: 10px
      left: 10px
      width 14px
      height: 14px
    +above($breakpoints.xxl)
      width 16px
      height: 16px

  &__img
    width 308px
    height: auto
    margin 0 auto
    border-radius: 10px
    +above($breakpoints.sm)
      border-radius: 15px
      margin 0
      width 285px
    +above($breakpoints.md)
      border-radius: 20px
      width 370px
    +above($breakpoints.xxl)
      border-radius: 25px
      width 478px
